<div class="container">
    <div class="column">

    </div>
    <div class="column">
        <div class="box paper roboto">
            <div class="content ">
                <div class="header">
                    <fa-icon [icon]="faCode"></fa-icon>Log in to Open Learn <fa-icon [icon]="faCode"></fa-icon>
                </div>
                <form (ngSubmit)="onSubmitLogin()">
                    <div class="field">
                        <span>
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </span>
                        <input type="email" name="email" placeholder="Email" ngModel email required>
                    </div>
                    <div class="field">
                        <span>
                            <fa-icon [icon]="faLock" style="display: inline;"></fa-icon>
                        </span>
                        <input type="password" required placeholder="Password">
                    </div>
                    <a href="#">Forgot Password?</a>
                    <button type="submit">Log In</button> 
                </form>
                <hr>
                <a href="/signup">Signup Now</a>
                <div class="error-message" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>
    <div class="column">
    
    </div>
</div>